<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>addnewbook</servlet-name>
        <servlet-class>UI_pages.addnewbook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAllBooks</servlet-name>
        <servlet-class>UI_pages.DisplayAllBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBExtendableServlet</servlet-name>
        <servlet-class>DBPackage.DBExtendableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletebook</servlet-name>
        <servlet-class>UI_pages.deletebook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifybook</servlet-name>
        <servlet-class>UI_pages.modifybook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issuebook</servlet-name>
        <servlet-class>UI_pages.issuebook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returnbook</servlet-name>
        <servlet-class>UI_pages.returnbook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addnewbook</servlet-name>
        <url-pattern>/addnewbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAllBooks</servlet-name>
        <url-pattern>/DisplayAllBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBExtendableServlet</servlet-name>
        <url-pattern>/DBExtendableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletebook</servlet-name>
        <url-pattern>/deletebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifybook</servlet-name>
        <url-pattern>/modifybook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issuebook</servlet-name>
        <url-pattern>/issuebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returnbook</servlet-name>
        <url-pattern>/returnbook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
